body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.navbar{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px #cccccc;
    display: flex;
}
.logo{
    width: 30%;
    display: flex;
    /* vertical align */
    align-items: center;
    /* horizontal align */
    justify-content: center;
}
.logo h1{
    font-size: 15px;
    font-weight: 800;
    position: relative;
    left: 8px;
}
.primary-menu{
    width: 40%;
    display: flex;
    justify-content: center;
}
.primary-menu .menu{
    display: flex;
    list-style-type: none;
}
.primary-menu .menu li{
    margin: 15px;
    font-size: 13px;
    font-weight: 400;
    color: #4f5665;
    cursor: pointer;
}
.primary-menu .menu li:hover{
    color: #6a4029;
    font-weight: 700;
}
.secondary-menu{
    width: 30%;
}
.secondary-menu .menu{
    display: flex;
    list-style-type: none;
}
.secondary-menu .menu li{
    margin: 15px;
    font-size: 13px;
    cursor: pointer;
}
.notif{
    background-color: #6A4029;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    color: white;
    font-size: 10px;
    font-weight: 800;
    font-family: sans-serif;
    margin-top: -30px;
    margin-left: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
